html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #1565c0;
}

a:hover {
    color: #217ee7;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #000000;
    overflow: auto;
    margin-bottom: 1in;
    z-index: 1;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

/* Right-aligned section inside the top navigation */
.navbar-right {
    float: right;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #ff0000;
}

.navbar a.push {
    margin-right: auto;
}

/* Create a right-aligned (split) link inside the navigation bar */
.navbar a.split {
    float: right;
    background-color: #000000;
    color: white;
}

.navbar a.split:hover {
    background-color: #ff0000;
}

/* Current/active navbar link */
.active {
    background-color: #aa0404;
}


#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 600px;
    padding: 1%;
    line-height: 1.6em;
    padding-top: 5%;
}
#content_2 {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    text-align: justify;
    padding: 10px;
}

.avatar {
    border-radius: 50%;
    width: 200px;
}

.icons {
    list-style-type: none;
    font-size: xxx-large;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 450px;
    margin: 10px auto;
}

.icons li {
    display: inline;
    width: 42px;
}

.icons a {
    color: black;
}

.icons a:hover {
    color: #ff0000;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 5px;
    }
    .navbar-right {
        float: none;
    }
    .avatar {
        width: 150px;
    }
    #content_2 {
        top: 50px;
    }
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #000000; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px; /* Place content 60px from the top */
    transition: 0.25s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #ff0000;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 50px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 40px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 10px;/* 25px 25px 1% 1% */
    border: none;
    z-index: 1; /* Stay on top */
  }
  
  .openbtn:hover {
    background-color: #ff0000;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: -200px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-width: 500px) {
    .sidebar {padding-top: 150px;}
    .sidebar a {font-size: 18px;}
  }
  
