html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #1565c0;
}

a:hover {
    color: #ff0000;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #000000;
    overflow: auto;
    margin-bottom: 1in;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

/* Right-aligned section inside the top navigation */
.navbar-right {
    float: right;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #ff0000;
}

.navbar a.push {
    margin-right: auto;
}

/* Create a right-aligned (split) link inside the navigation bar */
.navbar a.split {
    float: right;
    background-color: #000000;
    color: white;
}

.navbar a.split:hover {
    background-color: #ff0000;
}

/* Current/active navbar link */
.active {
    background-color: #aa0404;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        /* If you want the text to be left-aligned on small screens */
    }

    .navbar-right {
        float: none;
    }
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 500px;
    padding: 1in;
    line-height: 1.6em;
    padding-top: 2in;
}
#content_2 {
    position: absolute;
    left: 50px;
    right: 50px;
    text-align: justify;
    padding: 50px;
}

.avatar {
    border-radius: 50%;
    width: 200px;
}

.icons {
    list-style-type: none;
    font-size: xx-large;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
    margin: 1em auto;
}

.icons li {
    display: inline;
    width: 50px;
}

.icons a {
    color: black;
}

.icons a:hover {
    color: #ff0000;
}

/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute;
    /* Position them relative to the browser window */
    left: -100px;
    /* Position them outside of the screen */
    transition: 0.5s;
    /* Add transition on hover */
    padding: 15px;
    /* 15px padding */
    width: 100px;
    /* Set a specific width */
    text-decoration: none;
    /* Remove underline */
    font-size: 20px;
    /* Increase font size */
    color: white;
    /* White text color */
    border-radius: 0 15px 15px 0;
    /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0;
    background-color: #ff0000; 
    /* On mouse-over, make the elements appear as they should */
}

#mySidenav .active{
    background-color: #aa0404; 
}

/* The about link: 20px from the top with a green background */
#H {
    top: 30%;
    background-color: #000000;
}
#R {
    top: 40%;
    background-color: #000000;
}
#T {
    top: 50%;
    background-color: #000000;
}
#cv {
    top: 60%;
    background-color: #000000
}