html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #1100ff;
}

a:hover {
    color: #ff0000;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 600px;
    padding: 1%;
    line-height: 1.6em;
    padding-top: 5%;
}

#content_2 {
    position: absolute;
    top: 50px;
    left: 10px;
    right: 10px;
    text-align: justify;
    padding: 10px;
}

.avatar {
    border-radius: 50%;
    width: 200px;
}

.icons {
    list-style-type: none;
    font-size: xxx-large;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 450px;
    margin: 10px auto;
}

.icons li {
    display: inline;
    width: 42px;
}

.icons a {
    color: black;
}

.icons a:hover {
    color: #ff0000;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 5px;
    }

    .navbar-right {
        float: none;
    }

    .avatar {
        width: 150px;
    }

    #content_2 {
        top: 50px;
    }
}

/* The sidebar menu */
.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #000000;
    /* Black*/
    box-shadow: 0 10px 40px -4px #000000;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 100px;
    /* Place content 60px from the top */
    transition: 0.25s;
    /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidebar hr.solid {
    border-bottom: 1px solid #ffffff;
    margin-right: 10px;
}

.sidebar h4 {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #ff0000;
    display: inline;
    transition: 0.3s;
    padding-left: 8px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #ff0000;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 50px;
    margin-right: 140px;
    padding: 10px 10px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 40px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    /* 25px 25px 1% 1% */
    border: none;
    z-index: 1;
    /* Stay on top */
}

.openbtn:hover {
    background-color: #ff0000;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: -200px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 500px) {
    .sidebar {
        padding-top: 150px;
    }

    .sidebar a {
        font-size: 18px;
    }
}



/* BIBBASE CCS from https://bibbase.org/css/styles/default.css   https://bibbase.org/documentation */
#bibbase_header i {
    width: 16px;
    text-align: center;
    margin-right: 5px;
}

.bibbase_group {
    /* background-color: #D0D0E0; */
    background-color: #70707000;
    /* mix-blend-mode: luminosity; */
    font-style: italic;
    font-size: larger;
    /* text-shadow: 0px 0px 3px #FFFFFF; */
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    padding: 5px 10px 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.bibbase_group_body {
    margin-left: 20px;
    margin-right: 20px;
}


img.bibbase_icon {
    width: 20px;
    max-height: 16px;
    vertical-align: text-top;


    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    filter: grayscale(100%);
    /* Current draft standard */
    -webkit-filter: grayscale(100%);
    /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray;
    /* IE6+ */
}

img.bibbase_icon:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}



/* span.bibbase_icon_text { */
/*     display: none; */
/* } */

.bibbase_code {
    width: 80%
}

.comment {
    font-size: smaller;
    font-style: italic;
    color: gray;
}

.recommended {
    color: green;
}

/* bootstrap */

.bibbase_msg {
    text-align: center;
    width: 80%;
    margin: auto;
}

#bibbase_embed_modal {
    width: 70%;
    left: 15%;
    margin: 0;
}

.bibbase.well {
    margin: 20px;
    overflow-wrap: break-word;
}

.bibbase.link {
    text-decoration: none;
}

.bibbase_paper_content {
    font-size: smaller;
}

.bibbase_artifact_badge {
    width: 1.2em;
    height: 1.2em;

    vertical-align: text-top;
}



/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #000000;
    overflow: auto;
    margin-bottom: 1in;
    z-index: 1;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

/* Right-aligned section inside the top navigation */
.navbar-right {
    float: right;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #ff0000;
}

.navbar a.push {
    margin-right: auto;
}

/* Create a right-aligned (split) link inside the navigation bar */
.navbar a.split {
    float: right;
    background-color: #000000;
    color: white;
}

.navbar a.split:hover {
    background-color: #ff0000;
}

/* Current/active navbar link */
.active {
    background-color: #aa0404;
}