html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #1565c0;
}

a:hover {
    color: #217ee7;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #000000;
    overflow: auto;
    margin-bottom: 1in;
    z-index: 1;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Right-aligned section inside the top navigation */
.navbar-right {
    float: right;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #ff0000;
}

.navbar a.push {
    margin-right: auto;
}

/* Create a right-aligned (split) link inside the navigation bar */
.navbar a.split {
    float: right;
    background-color: #000000;
    color: white;
}

.navbar a.split:hover {
    background-color: #ff0000;
}

/* Current/active navbar link */
.active {
    background-color: #aa0404;
}


#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 600px;
    padding: 10%;
    line-height: 1.6em;
    padding-top: 10%;
}
#content_2 {
    position: absolute;
    left: 50px;
    text-align: justify;
    padding: 50px;
}

.avatar {
    border-radius: 50%;
    width: 200px;
}

.icons {
    list-style-type: none;
    font-size: xx-large;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 320px;
    margin: 1em auto;
}

.icons li {
    display: inline;
    width: 42px;
}

.icons a {
    color: black;
}

.icons a:hover {
    color: #ff0000;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px;
    }
    .navbar-right {
        float: none;
    }
    .avatar {
        width: 0px;
    }
}





/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute;
    /* Position them relative to the browser window */
    left: -100px;
    /* Position them outside of the screen */
    transition: 0.3s;
    /* Add transition on hover */
    padding: 15px;
    /* 15px padding */
    width: 120px;
    /* Set a specific width */
    text-decoration: none;
    /* Remove underline */
    font-size: 20px;
    /* Increase font size */
    color: white;
    /* White text color */
    border-radius: 0 15px 15px 0;
    /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0;
    background-color: #ff0000; 
    /* On mouse-over, make the elements appear as they should */
}

#mySidenav .active{
    background-color: #aa0404; 
}

/* The about link: 20px from the top with a green background */
#H {
    top: 25%;
    background-color: #000000;
}
#R {
    top: 35%;
    background-color: #000000;
}
#T {
    top: 45%;
    background-color: #000000;
}
#cv {
    top: 55%;
    background-color: #000000
}


/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #000000; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20%; /* Place content 60px from the top */
    transition: 0.25s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #ff0000;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 60px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 40px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 35px 35px;
    border: none;
    z-index: 1; /* Stay on top */
  }
  
  .openbtn:hover {
    background-color: #ff0000;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: -200px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) 
  @media screen and (max-height: 1000px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }*/
  
